.section_azul{
    background-color: #b5f8f7;
    width: 95%;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.area_branca{
    background-color: white;
    width: 20%;
    height: 350px;
    border-radius: 10px;
    text-align: center;
}

.imagem{
    width: 80%;
    position: relative;
    margin: 30px;
}

.nome{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.preco{
    font-weight: 700;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}